 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#wrapper {
  @include outer-container;
}

#blog {
  margin: 50px auto 0 auto;
  @include span-columns(12);
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.button {
  display: inline-block;
  float: left;
}

.postContent {
  margin: 50px auto 0 auto;
  @include span-columns(11);
  float: left;
  height: 300px;
  display: inline-block;
  clear: right;
}

#posts {
  @include span-columns(11);
}